.flashcard{
    background-color:var(--cor-4); background-color:var(--cor-4);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
    gap:3rem;
}

.cartao {
    margin: 1rem 1rem;
    background-color: var(--cor-5);
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% -6rem);
}

.cartao__conteudo{
    text-align: center;
    height: 100%;
}

.cartao__conteudo h3{
    background-color: var(--cor-principa);
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border: 1px solid var(--cor-4);
    border-radius: 0.6;
    font-size: 1vw;
    color: var( --cor-secundaria);
}

.cartao__conteudo p {
    color: var(--cor-5);
    padding: 2rem;
}

.cartao__conteudo__pergunta p {
    color: var (--cor-5);
    font-weight: 500;
}

.cartao__conteudo__resposta p{
    color: var(--cor-segundaria);
    font-weight: 700;
}

.cartao:hover .cartao__conteudo {
    transform: rotateY(180deg);
}

.cartao__conteudo__pergunta,
.cartao__conteudo__resposta{
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}

.cartao__conteudo__resposta{
    transform: rotate(180deg);
}